.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 17%
    right: 0%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 0%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 65%
  &-4
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 80%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-principal__info
  background-image: url("../assets/curso/portada/banner-principal-decorativo-5.svg"), url("../assets/curso/portada/banner-principal-decorativo-6.svg")
  align-self: stretch, stretch
  background-repeat: no-repeat, no-repeat
  background-position: 0% 5%, 10% 90%
  background-size: 20%, 10%
  animation: Flitp1 6s ease infinite

@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-5.svg"), url("../assets/curso/portada/banner-principal-decorativo-6.svg")
  50%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-5.svg"), url("../assets/curso/portada/banner-principal-decorativo-6.svg")
    background-position: 5% 5%, 15% 90%
  100%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-5.svg"), url("../assets/curso/portada/banner-principal-decorativo-6.svg")

.banner-principal__img
  width: 25%
  padding-left: 1% !important

.tabs-a__tab
  background-color: #E8E8E8
.tabs-b__tab 
  opacity: 0.5
.tabs-b__tab--active
  opacity: 1

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  .tabs-a__tab__text
    color: white

.tarjeta.color-acento-botones
  background-color: #E8E1FC
  h4,p
    color: #12263F

.pasos-a.color-acento-contenido .pasos-a__circle div
  color: white !important

.img-t
  width: auto
  height: auto 

.img-a
  position: absolute
  width: 60px
  top: -24px
  left: 72% 
.img-a2
  position: absolute
  width: 60px
  bottom: -24px
  left: 10% 
.img-a3
  position: absolute
  width: 250px
  top: -33px
  left: -66px 
  
.img-a4
  position: absolute
  width: 150px
  top: -36px
  left: 631px

.img-a5
  position: absolute
  width: 275px
  top: -33px
  left: -60px 
  
.img-a6
  position: absolute
  width: 190px
  top: -26px
  left: 590px

.img-a7
  position: absolute
  width: 50px
  top: -6px
  left: 367px
  @media (max-width: $bp-max-md)
    top: -7px
    left: 106px
    width: 31px
    


.img-a8
  position: absolute
  width: 130px
  top: -33px
  left: 590px

.img-a9
  position: absolute
  width: 250px
  top: -33px
  left: -40px

.img-a10
  position: absolute
  width: 130px
  top: -33px
  left: 590px

.img-a11
  position: relative
  width: 60px
  left: 40px
  top: 20px

.img-a12
  position: absolute
  width: 220px
  left: -40px
  top: -40px

.img-a13
  position: absolute
  width: 120px
  top: -26px
  left: 660px

.bg1
  background-image: url("../assets/curso/tema1/img1.png") 
  border-radius: 20px
  background-repeat: no-repeat
  background-size: cover

.bg2
  background-color: #FFD41C
  
.bg3
  background-color: $color-primario
  border-radius: 10px

.bg4
  background-color: #F9F6FF
  border-radius: 10px
 
.bg4-1
  background-image: url(../assets/curso/tema1/img139.png)
  background-repeat: no-repeat

.bg4-2
  background-image: url(../assets/curso/tema2/img59.png)
  background-repeat: no-repeat


.bg5
  background-color: #E8E1FC
  border-radius: 5px
  margin-left: 1px
  margin-right: 1px

.bg6
  background-color: #FFF1B3
  border-radius: 5px
  margin-left: 1px
  margin-right: 1px

.bg7
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: - 1rem
    right: 17px
    width: calc( 100% + -45rem)
    height: 114%
    background-color: #CCFFF0
    @media (max-width: $bp-max-md)
      background-size: cover
      left: -8px
      width: calc( 100% + 1rem)
      height: 100%

.bg8
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: - 2rem
    left: 0%
    width: 100% 
    height: 104%
    background-image: url(../assets/curso/tema1/img98.svg)
    background-size: cover
    @media (max-width: $bp-max-md)
      background-size: cover
      left: -8px
      width: calc( 100% + 1rem)
      height: 100%

.bg9
  background-color: #CCFFF0
  border-radius: 5px
  margin-left: 1px
  margin-right: 1px

.bg10
  background-color: #E8E1FC

.bg11
  background-color: #CCFFF0
  background-repeat: no-repeat
  background-size: cover

.bg12
  background-color: #E8E1FC
  padding: 20px

.bg13
  background-color: #E8E1FC
  height: 320px

.bg14
  background-color: #CCFFF0
  height: 320px

.bg15
  background-color: #FFF1B3
  height: 320px

.bg16
  background-color: #D1C3FA
  height: 320px

.bg17
  background-color: #D1C3FA
  border-radius: 15px

.bg18
  background-color: #A488F5
  border-radius: 15px

.bg19
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 20%
    left: 0px
    width: calc( 100% + -25rem)
    height: 60%
    background-color: #CCFFF0
    @media (max-width: $bp-max-md)
      background-size: cover
      top: 12%
      left: 0px
      width: calc( 40% + 1rem)
      height: 40%

.bg20
  background-color: #8D6AF2

.bg21
  background-color: #FFF1B3
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px

.bg22
  background-color: #F9F6FF
  padding: 15px

.bg23
  background-color: #F9F6FF

.bg24
  background-color: #D1C3FA
  border-radius: 15px

.bg25
  background-color: #FFEA8E
  border-radius: 15px

.bg26
  background-color: #FFF1B3
  border-radius: 15px

.bg27
  background-color: #CCFFF0
  border-radius: 15px

.bg28
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: 10%
    right: 0px
    width: calc( 5% + 20rem)
    height: 80%
    background-color: #CCFFF0
    @media (max-width: $bp-max-md)
      background-size: cover
      top: 12%
      left: 0px
      width: calc( 40% + 1rem)
      height: 40%

.bg29
  background-color: #FFE268

.bg30
  background-color: #BAA6F7
  border-radius: 15px

.bg31
  background-color: #FFE268
  border-radius: 15px

.bg32
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -5%
    left: 0px
    width: calc( 5% + 20rem)
    height: 100%
    background-color: #CCFFF0
    @media (max-width: $bp-max-md)
      background-size: cover
      top: 12%
      left: 0px
      width: calc( 40% + 1rem)
      height: 40%

.bg33
  background-color: #E8E1FC
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px

.bg34
  background-color: #26D19E

.bg35
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 0rem
    top: -10%
    right: 0px
    width: calc( 10% + 20rem)
    height: 120%
    background-color: #CCFFF0
    @media (max-width: $bp-max-md)
      background-size: cover
      top: 12%
      left: 0px
      width: calc( 40% + 1rem)
      height: 40%

.bg36
  background-color: #FFF1B3

.bg_color1
  background-color: #D1C3FA
.bg_color1:hover
  background-color: #E8E1FC

.bgtex
  color: #764CF0

.txt-a1
  text-align: left

.txt-c1
  color: #FFD41C !important
  font-weight: bold

.txt-c2
  color: white

.txt-c3
  color: #12263F !important
  i
    color: #12263F !important

.dual-txt-deco
  position: relative
  &::after
    content: ""
    position: absolute
    top: -5px
    left: -25px
    width: 38%
    height: 38%
    background-color: #CCFFF0
    z-index: 0   

.transf
  transition: transform .2s
  &:hover
    transform: scale(1.10)

.tarjeta--azul
  background-image: url(../assets/curso/tema1/img4.png)
  background-repeat: no-repeat
  background-size: cover


.tarjeta--azul1
  background-image: url(../assets/curso/tema1/img40.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px !important

.tarjeta--azul2
  background-image: url(../assets/curso/tema2/img54.svg)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px !important

.tarjeta--azul3
  background-image: url(../assets/curso/tema3/img6.svg)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px !important



.tarjeta.tarjeta--azul4
  background-color: #F9F6FF

.tarjeta.tarjeta--azul4.acordion__activo
  background-color: #E8E1FC

.tarjeta.color-acento-contenido1 
  background-color: #FFEA8E
  border-radius: 20px

.tarjeta.color-acento-contenido2 
  background-color: #FFF
  border-radius: 20px

.tarjeta-avatar > img 
  top: 35px
  
.slyder-a__bullets__item
  background-color: #A399C4

.slyder-a__bullets__item--active
  background-color:#21155C
  border: #21155C

.horizontal-scroll
  align-items: stretch !important
  padding-top: 2rem
  padding-bottom: 2rem


hr:not([size]) 
  height: 5px
  width: 25%
  color: #764CF0 !important
  @media (max-width: $bp-max-md)
    width: 55%
  @media (max-width: $bp-max-xs)
    width: 75%

.borde
  border-top: 5px solid #764CF0
  width: 300px
  &_2
    border-top: 5px solid #764CF0
    width: 287px
  &_3
    border-top: 5px solid #764CF0
    width: 420px
    @media (max-width: $bp-max-md)
      max-width: 90%
  &_4
    border-top: 5px solid #764CF0
    width: 142px
  &_5
    border-top: 5px solid #764CF0
    width: 396px
    @media (max-width: $bp-max-md)
      max-width: 90%

@media screen and ( max-width: 1200px )

  .banner-principal__info
    background-image: none
    animation: none

.tamp
  font-size: 18px
.imgtem
  left: 28% !important
.patex
  .tarjeta
    padding-top: 20px !important
.margslyd
  .slyder-a__bullets__item
    margin: 0 2px

.boton.color-acento-contenido, .color-acento-contenido.boton--sm 
  background-color: #26D19E

.boton.color-acento-contenido:hover
  background-color: #26D19E


.linea-tiempo-b__icon img 
  width: 70%

.linea-tiempo-b__content
  h3
    font-size: 18px

.linea-tiempo-b__icon  
  width: 70%
  padding-top: 70%
  margin-left: 22px
.img84
  @media (max-width: $bp-max-md)
    margin-left: -36px
    width: 134%
    max-width: 132%
  